*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(209, 180, 135);
}

#box{
width: 100%;
}

#header{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: aquamarine;
    text-align: center;
    line-height: 50px;
}
#aside{
    width: 300px;
    background-color: aliceblue;
    height: 900px;
    float: left;
}
#main{
    width: calc(100% - 300px);
    height: 300px;
    background-color: bisque;
    float: left;
}
#content1{
    float: left;
    background-color: blue;
    height: 450px;
    width: calc((100% - 300px)/3);
}
#content2{
    float: left;
    background-color: blueviolet;
    height: 450px;
    width: calc((100% - 300px)/3);
}
#content3{
    float: left;
    background-color: brown;
    height: 450px;
    width: calc((100% - 300px)/3);
}
#footer{
    float: left;
    background-color: cyan;
    width: calc(100% - 300px);
    height: 150px;
}