*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(209, 180, 135);
}

#box{
width: 100%;
}

#header{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    background-image: url(1.jpg);
    background-size: cover;
    text-align: center;
    line-height: 70px;
    border: solid black 1px;
    border-bottom-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
    color: rgb(3, 38, 102);
}
#aside{
    width: 300px;
    background-color: aliceblue;
    height: 902px;
    float: left;
    border: solid black 1px;
}
#main{
    width: calc(100% - 303px);
    height: 300px;
    background-color: bisque;
    float: left;
    border: solid 1px black;
    border-left-style: none;
}
#content1{
    float: left;
    background-color: bisque;
    height: 450px;
    width: calc((100% - 303px)/3);
}
#content2{
    float: left;
    background-color: bisque;
    height: 450px;
    width: calc((100% - 303px)/3);
}
#content3{
    float: left;
    background-color: bisque;
    height: 450px;
    width: calc((100% - 303px)/3);
    border-right: solid 1px black;
}
#footer{
    float: left;
    background-color: cyan;
    width: calc(100% - 303px);
    height: 150px;
    border: solid 1px black;
    border-left-style: none;
    
}
#menu{
    list-style-type: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 2;
}
li{
    text-align: center;
}


a{
    text-decoration: none;
    color: black;
}

#image-1{
    display: block;
    margin: 6px auto;
}

.class-p{
    text-align: center;
    line-height: 2;
    width: 350px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 20px;
}