
/* Wszystkie p pod divem nawet w p w div w #blok1   */
/* #blok1 p{
    text-decoration: underline;
    font-weight: bold;
}   
*/



/* tylko bezpośrednio w #bloku1 p */
/* #blok1 > p{
    text-decoration: underline;
    font-weight: bold;
}  */




/* tylko sąsiadujący element #blok1 ale pod blok1 */
/* #blok1 + p{
    text-decoration: underline;
    font-weight: bold;
}   */


/* Wszysctkie elementy na równi z nim ale pod blok1 */
/* #blok1 ~ p{
    text-decoration: underline;
    font-weight: bold;
}  */

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: rgb(187, 153, 101);
}

#link_zsht:visited{
    color: green;
}

#p7:hover{
    background-color: blanchedalmond;
    color: white;
    border: gray 2px solid;
}

#buttom{
    background-color: #273117;
    color: #639218;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: #639218 5px outset;
    margin-left: auto;
    margin-right: auto;
}


#buttom:hover{
    background-color: #639218;
    color: #273117;
    border: #273117 5px inset;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 3px;
    width: 97px;
    height: 47px;

}

input[type="text"]:focus{
    color: red;
    font-weight: 900;
    background-color: beige;
    width: 500px;
    border: double red 5px;
    text-align: center;


}


/* p:first-child{
    background-color: blue;
} */

p:nth-child(even){
    background-color: aquamarine;
}

#Lorem::first-line{
    font-weight: bold;
}


#Lorem::first-letter{
    font-size: 40px;
    font-style: italic;
    border: double brown 2px;
    background-color: darksalmon;
}

#Lorem::before{
    content: "Słynny cytat Wojtka: ";
}


#Lorem::after{
    content: "Tak było";
    font-weight: bold;
    color: gray;
}