html, body, header, nav, div#container, aside, main, section, article, footer, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
  }
  body > header {
      height: 10vh;
      background-color: aqua;
      text-align: center;
      line-height: 10vh;
  }
  body > nav{
    height: 5vh;
    line-height: 5vh;
    
  
  }
  body > nav > ul {
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
  
  
  }
  body > nav > ul > li{
    width: 10vw;
  }
  body > nav> ul > li > a{
    text-decoration: none;
    display: block;
  }