/*body{
    margin: 0;
    padding: 0;
    background-color: rgba(67, 173, 35, 0.466);
}
footer{
    background-color: rgba(59, 71, 56, 0.466);
    border-radius: 15px;
    text-align: center;
}
div{
    padding: 5px;
    font-family: Arial;
    font-style: normal;
    font-size: large;
    color:black;
    text-align: center;
    font-weight: 900;
    box-sizing: border-box;
    border: solid;
    line-height: 4vh;
    
}
div > span{
    font-size: 60px;
    font-style: italic;
    color: rgba(67, 173, 35, 0.466);
    font-weight: 700;
}
p{
    font-family: monospace;
    font-size: 3vh;
    font-style: normal;
    color: black;
    font-variant: small-caps;
    text-indent: 5vw;
    font: normal small-caps normal 3vh /30px monospace;
}
*/

body{
    background-color: rgba(1, 97, 52, 0);
    background-image: url(hotelarz.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
   /* background: none;*/
}
#tekst1{
    /*
    font-family: Arial;
    font-size: large;
    font-style: italic;
    line-height: 30px;
 
    */
    font: italic normal bold 16px /30px Arial;
    text-indent: 30px;
    text-align: justify;
    text-decoration: line-through;
    border-style: solid;
    border-radius: 15px;
    padding: 30px 60px;
    margin-top: 20px;
    height: 200px;
    width: 80%;
    overflow: scroll;
}
p{
    font-family: monospace;
    font-size: 5vw;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: underline dotted;
    color: #02301dda;
    border-style: dotted solid;
    padding: 15px;
}
h1{
    letter-spacing: 20px;
    text-align: center;
    text-transform: capitalize;
/*   border-style: double dotted dashed solid;
    border-width: 5px 10px 15px 20px; */
    border-style: ridge;
    border-width: 20px;
    border-color: #d6e225da greenyellow;
    margin-bottom: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
    max-width: 1000px;
    
}
#tekst2{
    white-space: pre;
    color: rgba(1, 97, 52, 0);
}

ul{
    font-size: 20px;
    /*list-style-type: upper-roman;*/
    /*list-style-image: url(1.gif);*/
    list-style-position: outside;
    width: 400px;    
}

table, td{
    border-style: solid;
    border-color: #02301dda;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    text-align: center;
    caption-side: bottom;
    border-collapse: separate;
    empty-cells: hide;
    border-spacing: 7px;
}
table{
    width: 30%;
    min-width: 385px;
    height: 80px;
}
th{
    border: 3px solid #02301dda;
    height: 80px;
    text-align: center;
    background-color: blanchedalmond;
    padding: 10px;

}





/*id: Może być przypisane tylko do jednego elementu na stronie. Służy do identyfikacji konkretnego, unikalnego elementu.
class: Może być przypisane do wielu elementów. Używane jest do grupowania elementów o podobnych cechach.
styl wpisany <p style="color: red; font-size: 20px;">*/
