*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(209, 180, 135);
}
#header{
    background-color: blueviolet;
    height: 150PX;
}
#navigation{
    background-color: blue;
    height: 550px;
    width: 200px;
    float: left;
}
#content{
    background-color: brown;
    height: 550px;
    width:  calc(100% - 200px);
    float: right;
}
#footer{
    background-color: aquamarine;
    height: 100px;
    clear: both;
}
#box{
width: 80%;
margin-left: auto;
margin-right: auto;
}

/* MENU */

#menu, #menu li{
    display: block;
    list-style-type: none;
    text-align: center;
    /* margin: 0px;
    padding: 0px; */
}

#menu{
    margin-top: 20px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}



#menu a:link , #menu a:visited{
    display: block;
    padding: 4px;
    border: 2px outset #c0c0c0;
    text-decoration: none;
    color: black;
    background-color: #c0c0c0;
    margin-bottom: 5px;
}

#menu a:hover{
    border-style: inset;
    color: rgb(129, 24, 24);
    padding: 6px 2px 2px 6px;
}
