*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(209, 180, 135);
}
#header{
    background-color: blueviolet;
    height: 150PX;
}
#navigation{
    background-color: blue;
    height: 550px;
    width: 200px;
    float: left;
}
#content{
    background-color: brown;
    height: 550px;
    width:  calc(100% - 200px);
    float: right;
}
#footer{
    background-color: aquamarine;
    height: 100px;
    clear: both;
}
#box{
width: 80%;
margin-left: auto;
margin-right: auto;
}
