*{
    box-sizing: border-box;
}
html,body,header,h1,p, nav, main, section, footer{
    margin: 0;
    padding: 0;
}
body {
    background-color: cornflowerblue;
}
body > header {
    height: 10vh;
    text-align: center;
    background-color: darkgreen;
    color: rgb(255, 229, 80);
}
body > header > h1 {
    height: 7vh;
    line-height: 7vh;
}
body > header > p {
    height: 3vh;
    line-height: 3vh;
    font-style: italic;
}
body > nav {
    min-height: 5vh;
    background-color: violet;   
}
body > nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
body > nav > ul > li{
    height: 5vh;
    line-height: 5vh;
    width: 10vw;
    text-align: center;

}
body > nav > ul > li:hover{
    background-color: yellow;
}
body > nav > ul > li > a{
    color: yellow;
   display: block;
   text-decoration: none; 
} 
body > nav > ul > li:hover > a{
    color: blueviolet;
}
body > nav > ul > li > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: purple;
    display: none;
}
body > nav > ul > li > ul > li > a{
    text-decoration: none;
    color:gold;
    display: block;
}
body > nav > ul > li:hover > ul{
    display: flex;
    flex-direction: column;
}
body > nav > ul > li:hover > ul > li > a:hover {
    background-color: gold;
    color: purple;
}
